#girl {
	width: 200px;
	display: block;
}
#extra {
	width: 100px;
	display: none;

}
#extra2 {
	width: 100px;
	display: none;

}
#extra3 {
	width: 100px;
	display: none;

}
#extra4 {
	width: 100px;
	display: none;

}
#extra5 {
	width: 100px;
	display: none;

}
#extra6 {
	width: 100px;
	display: none;

}
#extra7 {
	width: 100px;
	display: none;

}
#extra8 {
	width: 100px;
	display: none;

}
#extra9 {
	width: 100px;
	display: none;

}
#extra10 {
	width: 100px;
	display: none;

}
#extra11 {
	width: 100px;
	display: none;

}
#extra12 {
	width: 100px;
	display: none;
}
#extra13 {
	width: 100px;
	display: none;
}
#extra14 {
	width: 100px;
	display: none;
}
#extra15 {
	width: 100px;
	display: none;
}
#extra16 {
	width: 100px;
	display: none;
}
#extra17 {
	width: 100px;
	display: none;
}
#extra18 {
	width: 100px;
	display: none;
}
#extra19 {
	width: 100px;
	display: none;
}
#extra20 {
	width: 100px;
	display: none;
}
#extra21 {
	width: 100px;
	display: none;
}




@media screen and (max-width: 1024px) {

	h1 {
		display: block;
		font-size: 40pt;
	}

	#girl {
		display: block;
		position: relative;
	}
	#extra {
		display: block;
		margin-left: 90px;
		margin-top: 5px;
		position: relative;
	}
	#extra2 {
		display: block;
		margin-left: 90px;
		margin-top: 5px;
		position: absolute;
	}
	#extra3 {
		display: block;
		width: 80px;
	}
	#extra4 {
		display: block;
		width: 80px;
	}



}


@media screen and (max-width: 768px) {

	h1 {
		display: block;

	}
		
	#girl {
		display: block;
		position: relative;
	}
	#extra {
		display: block;
		width: 80px;
	}
	#extra2 {
		display: block;
		width: 80px
		margin-left: 100px;
	}
	#extra3 {
		display: block;
		width: 80px;
	}
	#extra4 {
		display: block;
		width: 80px;
		margin-left: 200px;
		margin-top: -300px;
	}
	#extra5 {
		display: block;
		width: 80px;
		margin-left: 350px;
		margin-top: -100px;
	}
	#extra6 {
		display: block;
		width: 80px;
		margin-left: 500px;
		margin-top: -100px;
	}
	#extra7 {
		display: block;
		width: 80px;
		margin-left: 350px;
		margin-top: 10px;
	}
	#extra8 {
		display: block;
		width: 80px;
	}
	#extra9 {
		display: block;
		width: 80px;
	}



}



@media screen and (max-width: 600px) {

	h1 {
		display: block;
	}

	#girl {
		width: 100px;
		position: relative;
		display: block;
	}
	
	#extra {
		display: block;
		width: 60px;
		margin-left: 100px;
		
	}
	#extra2 {
		display: block;
		width: 40px
		margin-left: 300px;
	}
	#extra3 {
		display: block;
		width: 40px;
	}
	#extra4 {
		display: block;
		width: 60px;
		margin-left: 200px;
		margin-top: -120px;
	}
	#extra5 {
		display: block;
		width: 60px;
		margin-left: 150px;
		margin-top: -90px;
	}
	#extra6 {
		display: block;
		width: 60px;
		margin-left: 200px;
		margin-top: -80px;
	}
	#extra7 {
		display: block;
		width: 60px;
		margin-left: 350px;
		margin-top: -70px;
	}
	#extra8 {
		display: block;
		width: 60px;
	}
	#extra9 {
		display: block;
		width: 60px;
	}
	#extra10 {
		display: block;
		width: 60px;
		margin-left: 400px;
		position: relative;
	}
	#extra11 {
		display: block;
		width: 60px;
		position: relative;
		margin-left: 100px;
	}
	#extra12 {
		display: block;
		width: 60px;
		position: relative
		margin-left: 200px;	}

	
	
}



@media screen and (max-width: 480px) {

	h1 {
		display: block;
	}

	#girl {
		display: none;
	}
	#extra {
		display: block;
		width: 60px;
		margin-left: 100px;
	}
	#extra2 {
		display: block;
		width: 40px
		margin-left: 300px;
	}
	#extra3 {
		display: block;
		width: 40px;
	}
	#extra4 {
		display: block;
		width: 60px;
		margin-left: 200px;
		margin-top: -120px;
	}
	#extra5 {
		display: block;
		width: 60px;
		margin-left: 150px;
		margin-top: -90px;
	}
	#extra6 {
		display: block;
		width: 60px;
		margin-left: 200px;
		margin-top: -2px;
	}
	#extra7 {
		display: block;
		width: 60px;
		margin-left: 350px;
		margin-top: -10px;
	}
	#extra8 {
		display: block;
		width: 60px;
	}
	#extra9 {
		display: block;
		width: 60px;
	}
	#extra10 {
		display: block;
		width: 60px;
		margin-left: 400px;
		position: relative;
		margin-top: -10px;
	}
	#extra11 {
		display: block;
		width: 60px;
		position: relative;
		margin-left: 100px;
		margin-top: -3px;
	}
	#extra12 {
		display: block;
		width: 60px;
		position: relative
		margin-left: 200px;	}
	#extra13 {
		display: block;
		width: 60px;
		margin-left: 100px;
		margin-top: -10px;
	}
	#extra14 {
		display: block;
		width: 60px;
		margin-left: 100px;
	}
	#extra15 {
		display: block;
		width: 60px;
		margin-left: 100px;
		position: relative;
	}
	#extra16 {
		display: block;
		width: 60px;
		margin-left: 100px;
		position: relative;
	}
	#extra17 {
		display: block;
		width: 60px;
		margin-left: 100px;
		position: relative;
		margin-top: -50px;
	}
	#extra18 {
		display: block;
		width: 60px;
		margin-left: 100px;
		position: relative;
		margin-top: -50px;
	}
	#extra19 {
		display: block;
		width: 60px;
		margin-left: 100px;
		position: relative;
		margin-top: -100px;
	}
	#extra20 {
		display: none;
		width: 60px;
		margin-left: 100px;
		position: relative;
		margin-top: -200px;
	}
	#extra21 {
		display: none;
		width: 60px;
		margin-left: 100px;
		position: relative;
	}

	
}


@media screen and (max-width: 320px) {
		#girl {
		display: block;
	}

}


