@import url('https://fonts.googleapis.com/css?family=Rajdhani');


/*body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-image: url(statics.gif);
  background-size: cover;

}*/
* {
    box-sizing: border-box;
}

body {
  background-color: purple;
  background-image: url(statics.gif);

}


audio {
  opacity: 0;
}
audio:hover {
  opacity: 0.5;
}
.row {
    display: flex;
    margin-top: 10%;
    flex-wrap: wrap;
    align-content: center;

}

.column {
    flex: 50%;
    align-content: center;

}

#img {
  max-width: 100%;
  align-content: center;
  opacity: 0.3;
  column-gap: 900px;
}
#img:hover{
  opacity: 1.0;
}


h1 {
  text-align: center;
  color: silver;
  font-family: 'Rajdhani', sans-serif;
}

h2{
  text-align: center;
  color: silver;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
}

h3{
  text-align: center;
  color: silver;
  font-family: 'Rajdhani', sans-serif;

}
.orig
    { 
      z-index: 1000;
      position: fixed;
      bottom: 32px;
      font-weight: bold;
      width: 45vw;
      left: 50%;
       -webkit-transform: translateX(-50%) ;
      -moz-transform: translateX(-50%) ;
      transform: translateX(-50%) ;     
      font-size: 20px;
      line-height: 95%;
      font-family: arial;
      text-align: center;
      color: purple;
      -webkit-text-stroke-width: 0.75px;
   -webkit-text-stroke-color: white;
    }


#text-display
    { 
      z-index: 1000;
      position: fixed;
      bottom: 10px;
      font-weight: regular;
      width: 90vw;
      left: 50%;
       -webkit-transform: translateX(0%) ;
      -moz-transform: translateX(-50%) ;
      transform: translateX(-50%) ;     
      font-size: 20px;
      line-height: 74px;
      font-family: 'Rajdhani', sans-serif;
      text-align: center;
      color: purple;
      background-color: silver;
      -webkit-text-stroke-width: 1.3px;
        -webkit-text-stroke-color: purple;
         text-transform: lowercase;
        color: 25px solid purple;}


@media screen and (max-width: 1024px) {
  * {
    box-sizing: border-box;
}

body {
  background-color: purple;
  background-image: url(statics.gif);

}


audio {
  opacity: 0;
}
audio:hover {
  opacity: 0.5;
}
.row {
    display: flex;
    margin-top: 10%;
    flex-wrap: wrap;
    align-content: center;

}

.column {
    flex: 50%;
    align-content: center;

}

#img {
  max-width: 100%;
  align-content: center;
  opacity: 0.3;
  column-gap: 900px;
}
#img:hover{
  opacity: 1.0;
}


h1 {
  text-align: center;
  color: silver;
  font-family: 'Rajdhani', sans-serif;
}

h2{
  text-align: center;
  color: silver;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
}

h3{
  text-align: center;
  color: silver;
  font-family: 'Rajdhani', sans-serif;

}
.orig
    { 
      z-index: 1000;
      position: fixed;
      bottom: 32px;
      font-weight: bold;
      width: 45vw;
      left: 50%;
       -webkit-transform: translateX(-50%) ;
      -moz-transform: translateX(-50%) ;
      transform: translateX(-50%) ;     
      font-size: 20px;
      line-height: 95%;
      font-family: arial;
      text-align: center;
      color: purple;
      -webkit-text-stroke-width: 0.75px;
   -webkit-text-stroke-color: white;
    }


#text-display
    { 
      z-index: 1000;
      position: fixed;
      bottom: 10px;
      font-weight: regular;
      width: 90vw;
      left: 50%;
       -webkit-transform: translateX(0%) ;
      -moz-transform: translateX(-50%) ;
      transform: translateX(-50%) ;     
      font-size: 20px;
      line-height: 74px;
      font-family: 'Rajdhani', sans-serif;
      text-align: center;
      color: purple;
      background-color: silver;
      -webkit-text-stroke-width: 1.3px;
        -webkit-text-stroke-color: purple;
         text-transform: lowercase;
        color: 25px solid purple;}

}




