
body {
  background: black;
}
h1 {
  color: white;
}

.flame{
  bottom:0;
  margin-left: 300px;
  margin-bottom: 400px;
  position:absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform:rotate(-45deg) scale(1.5,1.5);
}

.yellow{
  left:15px; 
  width: 30px;
  height: 30px;
  background:gold;
  box-shadow: 0px 0px 9px 4px gold;
}

.orange{
  left:10px; 
  width: 40px;
  height: 40px;
  background:orange;
  box-shadow: 0px 0px 9px 4px orange;
}

.red{
  left:5px;
  width: 50px;
  height: 50px;
  background:OrangeRed;
  box-shadow: 0px 0px 5px 4px OrangeRed;
}

.white{
  left:15px; 
  bottom:-4px;
  width: 30px;
  height: 30px;
  background:white;
  box-shadow: 0px 0px 9px 4px white;
}

.circle{
  border-radius: 50%;
  position:absolute;  
}

.blue{
  width: 10px;
  height: 10px;
  left:25px;
  bottom:-25px; 
  background: SlateBlue;
  box-shadow: 0px 0px 15px 10px SlateBlue;
}

.black{
  width: 40px;
  height: 40px;
  left:10px;
  bottom:-60px;  
  background: black;
  box-shadow: 0px 0px 15px 10px black;
}

@keyframes flicker{
  0%   {transform: rotate(-1deg);}
  20%  {transform: rotate(1deg);}
  40%  {transform: rotate(-1deg);}
  60%  {transform: rotate(1deg) scaleY(1.04);}
  80%  {transform: rotate(-2deg) scaleY(0.92);}
  100% {transform: rotate(1deg);}
} 
* {
  margin: 0;
  padding: 0;
  
}

#ejemplo3 {
  width: 120px;
  margin: 150px auto 0;
  height: 150px;
}

.espiral3 div, .espiral3 {
  position: absolute;
  right: -1em;
  top: -3px;
  width: 1em;
  height: 1em;
  margin-left: 5px;
  font-size: 1.15em;
  border-top: 3px solid brown;
  border-left: 3px solid brown;
  border-radius: 100% 0 0 0;
  transform: rotate(90deg);
  box-sizing: border-box;
}
.espiral3{
  font-size: 10px;
  position: relative;
  right: 0;
  animation: girar .93s linear;
  animation-timing-function: ease-in-out;
}

@keyframes girar {
  0% {
      transform: rotate(0deg);
     }

  100% {
      transform: rotate(72000000deg);
     }  
  }
  #container {
    width: 202px;
    margin: 20px auto 0;
    color: white;
  }


















